.activate-form-cont {
  background-color: rgb(203, 203, 203);
  width: 30dvw;
  height: 30dvh;
  border-radius: 2.8dvh;
  margin: auto;
  margin-top: 25dvh;
}

.activate-user-prompt {
  margin: 0px;
  padding: 2.7dvh;
  font-size: 5.5dvh;
  text-align: center;
}

.activate-ty-prompt {
  font-size: 3dvh;
  text-align: center;
  margin-top: 0dvh;
  cursor: pointer;
  transition: opacity font-size 0.15s;
}

