.activate-form-cont {
  left: 50%;
  top: 31%;
  transform: translate(-50%);

  position: absolute;
  background-color: rgb(203, 203, 203);
  width: 30dvw;
  height: 27dvh;
  border-radius: 2.8dvh;
}

.activate-user-prompt {
  margin: 0px;
  padding: 2.7dvh;
  font-size: 5.5dvh;
  text-align: center;
}

.activate-ty-prompt {
  font-size: 3dvh;
  text-align: center;
  margin-top: 0.8dvh;
  transition: opacity font-size 0.15s;
}
