.navbar-cont {
    background-color: rgb(130, 130, 130);
    height: 7dvh;
    display: grid;
    grid-template-columns: 3.2fr 16fr 4fr;
}

.home-link-cont {
    height: 7dvh;
    display: grid;
    grid-template-columns: 0.8fr 2fr;
}

.logo-pic {
    height: 6dvh;
    width: 6dvh;
    margin: auto;
    border-radius: 1.5dvh;
}

.app-name {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 4dvh;
    text-align: left;
}

.nouser-content-cont {
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
}

.nouser-button-cont {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
}

.navbar-anchor {
    margin-left: auto;
    margin-right: auto;
}

.navbar-anchor-btn {
    height: 7dvh;
    width: 9dvw;
    background-color: rgb(130, 130, 130);
    transition: background-color opacity 0.15s;
    border: none;
}

.navbar-anchor-btn:hover {
    background-color: rgb(154, 154, 154);
    opacity: 0.7;
    border: solid;
    border-width: 2px;
}

.navbar-anchor-btn:active {
    background-color: rgb(101, 101, 101);
    opacity: 0.3;
}


.placeholder-text {
    text-align: center;
}

.auth-view-cont {
    display: grid;
    grid-template-columns: 3fr 1.4fr;
}

.welcome-text {
    font-size: 2.3dvh;
    text-align: center;
}

.logout-btn {
    border: none;
    font-size: 1.8dvh;
    height: 4dvh;
    width: 4.5dvw;
    border-radius: 2dvh;
    margin-top: 1.5dvh;
    margin-bottom: 1.5dvh;
    transition: opacity 0.15s;
}

.logout-btn:hover {
    opacity: 0.8;
}

.logout-btn:active {
    opacity: 0.5;
}

.unauth-view-cont {
    display: grid;
    grid-template-columns: 2.8fr 1.8fr;
}

.login-btn {
    margin-left: 1.2dvw;
    margin-right: auto;
    border: none;
    font-size: 1.8dvh;
    height: 4dvh;
    width: 4.5dvw;
    border-radius: 2dvh;
    margin-top: 1.5dvh;
    margin-bottom: 1.5dvh;
    transition: opacity 0.15s;
}

.login-btn:hover {
    opacity: 0.8;
}

.login-btn:active {
    opacity: 0.5;
}
