.resetpasswordconfirm-form-cont {
    left: 50%;
    top: 22%;
    transform: translate(-50%);

    position: absolute;
    background-color: rgb(203, 203, 203);
    width: 30dvw;
    height: 50dvh;
    border-radius: 2.8dvh;
}

.resetpasswordconfirm-form-prompt {
    padding-top: 3dvh;
    padding-bottom: 3dvh;
    margin: 0px;
    height: 6dvh;
    font-weight: 900;
    font-size: 5.2dvh;
    text-align: center;
}

.resetpasswordconfirm-form-line {
    height: 0.1dvh;
    margin-top: 0dvh;
    margin-bottom: 3dvh;
}

.resetpasswordconfirm-form {
    display: grid;
}

.form-spec {
    font-size: 2.5dvh;
    padding-left: 2dvw;
    margin: 0px;
    margin-bottom: 2.1dvh;
}

.form-input {
    font-size: 2dvh;
    height: 3.7dvh;
    width: 21dvw;
    border-radius: 3.5dvh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2dvh;
    padding-left: 1dvw;
    border: none;
    transition: opacity 0.15s;
}

.form-input:hover {
    opacity: 0.65;
}

.resetpasswordconfirm-submit-btn {
    font-size: 2dvh;
    height: 4dvh;
    width: 16dvw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3dvh;
    border-radius: 4dvh;
    border: none;
    cursor: pointer;
    transition: opacity 0.15s;
}

.resetpasswordconfirm-submit-btn:hover {
    opacity: 0.8;
    border: solid;
    border-width: 0.1dvh;
}

.resetpasswordconfirm-submit-btn:active {
    opacity: 0.2;
}

.resetpasswordconfirm-redirect-cont {
    display: grid;
    grid-template-columns: 1fr 0.2fr 1fr;
}

.or-redirect-text {
    font-size: 2.3dvh;
    font-weight: 900;
    text-align: center;
    margin-top: 3.8dvh;
}

.resetpasswordconfirm-redirect {
    font-size: 2.3dvh;
    text-align: center;
    margin-top: 3.8dvh;
}