{% load i18n %}

{% block subject %}
{% blocktrans %}Account activation on "Some application"{% endblocktrans %}
{% endblock subject %}

{% block text_body%}

{% blocktrans %}Please finish your account creation process on "Some application". {% endblocktrans %}

{% trans "Please go to the following page to activate your account:" %}
{{ protocol }}://localhost:5173/{{ url|safe }}

{% trans "Thanks for using our site!" %}

{% blocktrans %}The "Some application" team{% endblocktrans %}

{% endblock text_body %}

{% block html_body%}
<p>{% blocktrans %}Please finish your account creation process on "Some application". {% endblocktrans %}</p>

<p>Please go to the <a href="{{ protocol }}://localhost:5173/{{ url|safe }}">following page</a> to activate your account.</p>

<p>Thanks for using our site!</p>

<p>{% blocktrans %}The "Some application" team{% endblocktrans %}</p>

{% endblock html_body %}
